*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .dark{
    background-color: black;
} */
 /* body{
    width: 100%;
 } */
/* .side{
    width: 20%;
    height: 200vh;
    background-color: aqua;
    transition: all ease-in 200ms;
}


.close{
  width: 5%;
    height: 100vh;
    background-color: aqua;
    transition: all ease-in 200ms;
}

#scrollUp{
background-color: brown;
} */

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.219);
  display: none;
}

.popup{
  width: 50%;
  height: 50%;
  background-color: white;
}